sudo : required
  services : 
       - docker

before_install : 
      - docker build -t mo3taz92/firstreact -f Dockerfile.dev .
script : 
      - docker run mo3taz92/firstreact  npm run test -- --coverage